*{  margin: 0;
    padding: 0;

}

body { 
    background-color: rgb(9, 186, 124);
    display: flex;
    justify-content:center;
    padding-top: 50px;
}


div { background-color:rgb(232, 235, 234);
    width: 450px;
    padding: 45px 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow: 17px 12px 5px rgb(6, 112, 75);
    border-radius: 3cqi;
   
}


h1 { padding: 0px 0px 40px 0px;}
h2 { text-align: left;

}
input { margin-bottom: 15px;
    width: 185px;
    padding: 4px 0px;
    background-color:rgb(9, 186, 124);
    color:black;
    padding: 7px 0px 7px 15px;
    border-radius: 7px;
    
}
.botones {display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    width: 300px;
    border: none;
    box-shadow: none;
    background-image: none;
}

button { width: 65px;
    height: 40px;
    margin-bottom: 10px;
    background-color: rgb(232, 235, 234);
    border: none;
    font-size: 25px;
    

}

